.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f7d41a;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  transform: scale(1);
  transition: transform .1s ease-in-out;
  outline: none;
}

.Button:hover {
  background: #ffdc67;
}

.Button_pressed {
  transform: scale(.96);
}

.Button_fitToParent {
  width: 100%;
}

.Button:focus {
  box-shadow: 0 0 0 2px #d7b816;
}