.TextInput {
  position: relative;
  display: flex;
  background: inherit;
}

.TextInput__Box {
  display: flex;
  border: 1px solid grey;
  height: 24px;
  width: 178px;
  margin-top: 26px;
  border-radius: 4px;
  background: inherit;
}

.TextInput__Input {
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 4px;
  background: inherit;
  border: none;
  height: 100%;
  outline: none;
}

.TextInput__Clear {
  display: none;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  outline: none;
  opacity: 0;
  transition: opacity .2s ease-in-out, transform .2s ease-out;
}

.TextInput__Clear:focus {
  transform: scale(1.2);
}

.TextInput__Label {
  position: absolute;
  top: 0;
  display: inline-block;
  background: inherit;
  padding: 4px 8px;
  pointer-events: none;
  font-size: 16px;
  transform: translate(8px, 50%);
  transition: transform .2s ease-in-out, font-size .2s ease-out;
}

.TextInput__Input_hasValue ~ .TextInput__Label,
.TextInput__Input:focus ~ .TextInput__Label {
  font-size: 12px;
  transform: translate(0, 0);
}

.TextInput__Input_hasValue ~ .TextInput__Clear {
  display: inline-block;
  opacity: 1;
}