.ResultScreen {
  font-family: monospace, Arial, sans-serif;
  width: 400px;
  height: 60px;
  background: #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 4px 2px #efefef;
  color: #5a5a5a;
  margin: 24px auto;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 24px;
  white-space: nowrap;
}

.ResultScreen__Inner {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.ResultScreen__NextLetter {
  color: darkgrey;
  width: 28px;
  display: flex;
  align-items: flex-end;
}